# Estandarizar npm/pnpm
engine-strict=true

# Preferir pnpm
package-manager=pnpm

# Configuración de producción
shamefully-hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*@types*